{
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "next",
    "@emisgroup/eslint-config-typescript",
    "@emisgroup/eslint-config-react",
    "@emisgroup/eslint-config-prettier",
    "@emisgroup/eslint-config-jsx-a11y"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
