{
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": ["next", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
